<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant Sys</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="titlediv"><h1 id="title"> Ruby Burgers by the Kaiser Chef's </h1></div>
	<%= yield %>
</body>
</html>