<h2>New Food Item Form</h2>
<% if @errors %>
<div class="errors">
<h1><%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
  <ul>
    <% @errors.each do |error|  %>
      <li><h2><%= error %></h2></li>
    <% end %>
  </ul>
</div>
<% end %>
<a href="/foods"> Take Me Back</a>

</style>
<form action="/foods" method="post"/>
	<input type="text" name="foods[name]" placeholder="Type Name of Dish"/>
	<input type="text" name="foods[cuisine_type]" placeholder="Type Cuisine Type"/>
	<input type="text" name="foods[calories]" placeholder="Type Calories"/>
	<input type="text" name="foods[price]" placeholder="Type Price"/>
	<input type="submit"/>
</form>

<a href="/restaurants">Main Page</a>
<a href="/parties">Parties Section</a>
