<a href="/foods"> Take Me Back</a>

</style>
<form action="/foods" method="post"/>
	<input type="text" name="foods[name]" placeholder="Type Name of Dish"/>
	<input type="text" name="foods[cuisine_type]" placeholder="Type Cuisine Type"/>
	<input type="text" name="foods[calories]" placeholder="Type Calories"/>
	<input type="text" name="foods[price]" placeholder="Type Price"/>
	<input type="submit"/>
</form>