<form action="/parties/<%= @parties.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="parties[table_number]" value="<%= @parties.table_number%>"/>
	<input type="text" name="parties[number_guests]" value="<%= @tables.number_guests %>"/>
	<input type="text" name="tables[pay_status]" value ="<%= @tables.pay_status %>"/>
	<input type="submit"/>
</form>
