<a href="/parties"> Take Me Back</a>
<form action="/parties" method="post"/>
	<input type="text" name="parties[table_number]" placeholder="Enter Table Number"/>
	<input type="text" name="parties[number_guests]" placeholder="Enter Number of Guests"/>
	<input type="submit"/>
</form>

<a href="/restaurant">Main Page</a>
<a href="/foods">Food Section</a>
