<a href="/parties"> Take Me Back</a>

</style>
<form action="/parties" method="post"/>
	<input type="text" name="parties[table_number]" placeholder="Enter Table Number"/>
	<input type="text" name="parties[number_guests]" placeholder="Enter Number of Guests"/>
	<input type="text" name="parties[pay_status]" placeholder="Enter Pay Status"/>
	<input type="submit"/>
</form>